/* variables */

:root {
  --color-one: hotpink;
  --color-two: plum;
  --color-three: palegreen;
  --color-four: sandybrown;
  --color-five: slateblue;
  --color-six: crimson;
  --color-seven: darkblue;
  --color-eight: seagreen;

  --color-player: plum;
  --color-npc: hotpink;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: slategray;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  background-color: #000;
}

.tictactoe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}

.fields {
  cursor: pointer;
  position: relative;
  width: 100px;
  height: 100px;
  background-color: slategray;
  border: transparent solid 2px;
}

.fields:hover {
  border-color: #ffffff82;
}

.picking-color {
  width: 20%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.picking-color > * {
  cursor: pointer;
  height: 30px;
  width: 30px;
  background-color: royalblue;
  border: #000 solid 2px;
}

.picking-color > *:hover {
  border-color: #fff;
}

.picking-color > *:nth-child(1) {
  background-color: var(--color-seven);
}
.picking-color > *:nth-child(2) {
  background-color: var(--color-five);
}
.picking-color > *:nth-child(3) {
  background-color: var(--color-one);
}
.picking-color > *:nth-child(4) {
  background-color: var(--color-two);
}
.picking-color > *:nth-child(5) {
  background-color: var(--color-three);
}
.picking-color > *:nth-child(6) {
  background-color: var(--color-eight);
}
.picking-color > *:nth-child(7) {
  background-color: var(--color-four);
}
.picking-color > *:nth-child(8) {
  background-color: var(--color-six);
}

.text-result {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.player {
  display: flex;
  position: relative;
  align-items: center;
  padding-right: 45px;
}

.player-cross {
  position: absolute;
  display: inline-block;
  border-top: var(--color-player) solid 3px;
  width: 40px;
  right: 0;
}

.player-cross:nth-child(3) {
  transform: rotate(45deg);
}

.player-cross:nth-child(2) {
  transform: rotate(-45deg);
}

.player-cross-filled {
  position: absolute;
  display: inline-block;
  border-top: var(--color-player) solid 3px;
  width: 100px;
  right: 0;
  bottom: 50%;
}

.player-cross-filled:nth-child(1) {
  transform: rotate(45deg);
}

.player-cross-filled:nth-child(2) {
  transform: rotate(-45deg);
}

.computer {
  display: flex;
  position: relative;
  align-items: center;
  padding-right: 45px;
}

.computer-circle {
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  border: var(--color-npc) solid 3px;
  border-radius: 50%;
  right: 0;
}

.computer-circle-filled {
  display: inline-block;
  position: absolute;
  width: 90px;
  height: 90px;
  border: var(--color-npc) solid 3px;
  border-radius: 50%;
  margin-left: 3px;
  margin-top: 3px;
}
